body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.title {
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}

input.ng-invalid {
  border: 1px solid red;
  background: rgba(255,0,0,0.2);
}

input.ng-valid {
  border: 1px solid green;
  background: rgba(0,255,0,0.2);
}

input.ng-pristine {
  border: 1px solid green;
  background: none;
}