.userInfo {
  height: auto;
  min-width: 160px;
  margin: 5px 0;
}

.userImage {
  float: left;
  height: 40px;
  width: 40px;
  padding: 3px;
}

.userName {
  font-family: Roboto,Helvatica;
  font-size: 16px;
  line-height: 20px;
  color: #999;
}
