!!!
html(ng-app="kidnava")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/stylesheets/bootstrap.css');
  body
    div.container
      block body

  script(src='js/lib/angular-1.0.7/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
