<!DOCTYPE html><html ng-app="kidnava"><head><meta charset="utf8"><base href="/"><title>Angular Express Seed App</title><link rel="stylesheet" href="/css/app.css"></head><body><script type="text/javascript">(function() {
  var po = document.createElement('script');
  po.type = 'text/javascript'; po.async = true;
  po.src = 'https://plus.google.com/js/client:plusone.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(po, s);
  </script><div id="gConnect"><a href="/auth/google"><button data-theme="dark" data-cookiepolicy="single_host_origin" class="g-signin"></button></a></div><script src="js/lib/angular-1.0.7/angular.js"></script><script src="js/app.js"></script><script src="js/services.js"></script><script src="js/controllers.js"></script><script src="js/filters.js"></script><script src="js/directives.js"></script></body></html>