userbadge
div
    div.title Add your Baby
    form.form-horizontal(name="addBabyForm")
      div.control-group
        label.control-label Spouse Email:
        div.controls
          input(type="email",required, ng-model="baby.parent", ng-change="onSpouseChange()", bs-typeahead="knownEmails", placeholder="Spouse Email")
      div.control-group
        label.control-label Gender:
        div.controls
          input.gender_input(type="radio", ng-model="baby.gender", name="baby", value="girl")
          | Girl 
          br
          input.gender_input(type="radio", ng-model="baby.gender", name="baby", value="boy")
          | Boy 
          br
          input.gender_input(type="radio", ng-model="baby.gender", name="baby", value="secret", checked)
          | Secret 
          br
      div.control-group
        label.control-label Friend Emails:
        div.controls
          input(type="text", ng-model="baby.guardians", placeholder="comma-separated")
      div.form-actions
        button.btn.btn-primary(type=submit,ng-click="addYourBaby(baby)", ng-disabled="addBabyForm.$invalid") Add Child
        &nbsp;
        button.btn Cancel
  link(rel='stylesheet', href='/stylesheets/add_baby.css')   