userbadge
div.title Suggest a Name
form(name="suggestion")
  label.
    Name:
  input(type="text", ng-model="suggestion.name", ng-change="nameChange()", required)
  label.
    Note:
  input(type="text", ng-model="suggestion.note")
  button(ng-click="addSuggestion(suggestion)") Save
  button(ng-click="resetSuggestion()") Reset

h2.
  Names starting with: {{suggestion.name}}
div
  span(style="padding-right: 4px", ng-repeat="name in names").
    {{name}}

h2.
  Previous Suggestions
div
  li(ng-repeat="suggested in suggestions").
    {{suggested}}
