span Hi #{first},
br
br
span Welcome to Kidnava.
br
span Thanks for joining us. Please verify your email address by clicking on the following link: #{link}
br
br
span Thanks,
br
span Have a great day!