  div.span4
    div.row-fluid
      div.span2
        div.title
           | {{title}}
      div.row.loginContainer
        div.well
          legend
            div.signInTitle.
                Sign In
          a(href="/auth/google")
            div#gSignInWrapper
            div#customBtn.customGPlusSignIn
              span.icon
              span.buttonText Google

  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto', type="text/css")
  link(rel='stylesheet', href='/stylesheets/login.css')   
